body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
}

input [type=text]{
  background-color: white;
  color: #ff7575;
  filter: drop-shadow(0 5px 5px #ffa0a0);
}

.NavBar {
  background-color: #ffa0a0;
  color: white;
  filter: drop-shadow(0 5px 5px #ffa0a0);
}
.NavBar h1{
  display: inline-flex;
  padding: 5px 10px;
  text-decoration: none;
}

.NavBar li{
  list-style: none;
  padding: 5px 10px;
  display: inline-flex;
  justify-content: right;
}

.NavBar li:hover{
  display: inline-flex;
  padding: 5px 10px;
  background-color: #ff7575;
  text-decoration: none;
  color: white;
  border-radius: 30px;
}

.NavBar h1{
  padding-top: 10px 0px 15px 10px;
}

.New-Deck-Form{
  background-color: #ffa0a0;
  color: white;
  border: none;
  border-bottom: 2px;
  margin: 10px;
  filter: drop-shadow(0 5px 5px #ffa0a0);
  border-radius: 20px;
  padding: 10px 15px;
}

.New-Deck-Form{
  background-color: #ffa0a0;
  color: white;
  border: none;
  border-bottom: 2px;
  margin: 10px;
  filter: drop-shadow(0 5px 5px #ffa0a0);
  border-radius: 20px;
  padding: 10px 15px;
}

.New-Deck-Form input[type=button]{
  background-color: #ff7575;
  color: white;
}

.New-Deck-Form input[type=button]:hover{
  background-color: white;
  color: #ffa0a0;
}

.New-Deck-Form input[type=text]{

  color: #ffa0a0;
}

.New-Card-Form{
  background-color: #ffa0a0;
  color: white;
  border: none;
  border-bottom: 2px;
  margin: 10px;
  filter: drop-shadow(0 5px 5px #ffa0a0);
  border-radius: 20px;
  padding: 10px 15px;
}

.New-Card-Form input[type=button]{
  background-color: #ff7575;
  color: white;
}

.New-Card-Form input[type=text-area]{
  background-color: white;
  border: #ff7575;
  border-radius: 0;
}


.New-Card-Form input[type=button]:hover{
  background-color: white;
  color: #ffa0a0;
}

.New-Card-Form input[type=text-area]{
  background-color: white;
  color: #ffa0a0;
  border-radius: none;
}

.DeckDiv{
  color: #ff7575;
  padding-bottom: 20px;
}

.DeckDiv h3{
  align-content: center;
}

input[type=text] {
  background-color: white;
  border: #ff7575;
  border-radius: 0;
}

.EditCardDiv input[type=text-area]{
  background-color: white;
  border: #ff8585;
  border-width: 2px;
  color: #ff8585;
}

.EditCardDiv input[type=button]{
  background-color: #ff7575;
color: white;
}

#DeckCard{
  color: #ff7575;
  display: inline;
  padding: 20px;
}

#DeckCard button{
  display: inline;
}

input, button{
  background-color: #ffa0a0;
  color: white;
  border: none;
  border-bottom: 2px;
  margin: 10px;
  filter: drop-shadow(0 5px 5px #ffa0a0);
  border-radius: 20px;
  padding: 10px 15px;
  }

  input:hover {
    filter: drop-shadow(0 5px 5px #ff8585);
    color: #ffecec;
    }

    button:hover {
      filter: drop-shadow(0 5px 5px #ff8585);
      color: #ffecec;
      }
    
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  height: 10%;
  width: 10%;
  position: x=70% y=70%;
}



